{% extends "base.html" %}

{% block content %}
<div id="main-container">
    <div id="container">
        <div id="about-text">
            <div id="about-text-main">
                <h1><span>Hi,</span> I’m Sam — Python + Web Developer, Coding Instructor, & UI/UX Designer</h1>
                <p>Passionate about solving real-world problems with Python, building full-stack web apps, and guiding beginners on their coding journey</p> 
            </div>
            <div id="ctas">
                <a href="https://smiict-official-web-app.onrender.com/" target="_blank" id="cta1">My Tech Courses</a>
                <a href="https://drive.google.com/file/d/1yFwdmXdPu9_IzLeWsWzIhC9yE6UEnEc7/view?usp=sharing" id="cta2">Download My Resume</a>
            </div>
        </div>
        <div id="about-image">
            <img src="/static/images/ai.png" alt="ai developer">
        </div>
    </div>
    <div id="metrics">
        <div id="m-head">
            <h1>Developer's Highlights</h1>
        </div>
        <div id="m-highlights">
            <div class="hl card1"><a href="https://healthmate-1-c9ua.onrender.com/">Health Project</a></div>
            <div class="hl card2"><a href="https://finance-trkr.onrender.com/">Finance Project</a></div>
            <div class="hl card3"><a href="https://drive.google.com/file/d/1RpX1alRMF7PzwIoBff_LavTyShnD44Kd/view">Watch Past Bootcamp</a></div>
            <div class="hl card4"><a href="https://youtu.be/tJ8eJc8_Oy8">Innovations</a></div>
        </div>
    </div>
    <footer>
        <p>&copy; 2025 | <strong>Samuel Seye</strong></p>
    </footer>
</div>
{% endblock %}
